extends layout

block content
	.container-fluid.page-specs
		.row.searchResultContainer
			.col-md-12
				ol.mybreadcrumb.breadcrumb
					li
						a(href="/lib/model/brand") 品牌
					li
						a(href="/lib/model/brand/#{model.model.makerLabel}") #{model.model.makerLabel}
					li.active #{model.model.label+' '+model.model.yearStart+'-'+model.model.yearEnd}
				.row
					.col-md-12
						.carousel.slide#myCarousel(data-ride="carousel")
							ol.carousel-indicators
								each img,index in model.gallery
									if (index===0)
										li.active(data-target="#myCarousel" data-slide-to="#{index}")
									else
										li(data-target="#myCarousel" data-slide-to="#{index}")
							.carousel-inner(role="listbox")
								each img,index in model.gallery
									if (index===0)
										.item.active
											img(src="/img/web/"+img.picFileName)
									else
										.item
											img(src="/img/web/"+img.picFileName)
							a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
								span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
								span.sr-only Previous
							a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
								span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
								span.sr-only Next

				.row
					.col-md-12
						if (typeof(model)!=='undefined')
							each val in specs

								.specs.specs-header
									.row
										.col-md-1
										.col-md-3
											h3.specs-header-title #{val.name}
								each data in val.content
									.specs
										.row
											.col-md-1
											.col-md-3 
												h4.specs-title #{data.name}
											.col-md-8
												.specs-content #{data.content}

