extends main

block mainwindow
	.container-fluid.page-model
		.row
			.col-md-12
				a(href="/lib/model/brand") 品牌
				span #{' / '+brandName}
		.row.searchResultContainer
			.col-md-12
				if models.length>0
					each val in models
						if (typeof(val.yearEnd)==='undefined')
							val.yearEnd='NA'
						.row
							.col-md-12
								a(href="/lib/model/#{val.label}?yearStart=#{val.yearStart}&yearEnd=#{val.yearEnd}") #{val.label}_#{val.yearStart}_#{val.yearEnd}
				else
					.row
						.col-md-12
							span 没有搜索结果。
						
