extends ../main

block inner-menubar
	include motogp_inner_menubar.jade

block mainwindow
	.container-fluid
		.row
			.col-md-12.col-xs-12
				.row(id="inner-menubar-placeholder")
				.row
					.col-md-12.col-xs-12
						h1.pagetitle.text-center 2015年赛程 
							small MotoGP 世界摩托车锦标赛
				.row
					.col-md-10
						#championStanding.title
							.row
								.col-md-12.col-xs-12
									h3.text-center 年度积分排行榜
							.row
								.col-md-12.col-xs-12
									table.table.table-striped.table-hover
										thead
											tr
												th #
												th 车手
												th 车辆
												th 国籍
												th 总分
												th 落后

										tbody
											each rider,index in riderStanding
												tr
													td #{rider.position}
													td #{rider.name}
													td #{rider.bike}
													td #{rider.nation}
													td #{rider.points}
													td #{rider.short}

						#calendar.title
							.row
								.col-md-12.col-xs-12
									h3.text-center 赛程

							.calendar-wrapper.panel.panel-default
								.panel-heading
									h3.panel-title 第一场  Commercial Bank Grand Prix of Qatar
								.panel-heading 4月29日
								.panel-heading 卡塔尔
								.panel-heading Losail International Circuit


								.panel-body

									.row.circuit-section
										.col-md-6.col-xs-12
											img.circuit-img(src="/img/motogp/circuit/2015/QAT_detail.png")
										.col-md-6.col-xs-12
											table.table.table-default
												tr 
													td 赛道长度
													td 5.4公里
												tr 
													td 左弯
													td 6个
												tr 
													td 右弯
													td 12个
												tr 
													td 最长直道
													td 1068米
												tr 
													td 最快圈速
													td 1'53.927
									.row.podium-section
										.rider-content.col-md-4.col-xs-12
											.panel.panel-default
												.panel-heading.text-center 第一名
												.panel-heading.text-center Valentino ROSSI（罗西）
												.panel-body 
													img.rider-img(src="/img/motogp/rider/2015/rider_rossi.jpg")
										.rider-content.col-md-4.col-xs-12
											.panel.panel-default
												.panel-heading.text-center 第二名
												.panel-heading.text-center Andrea DOVIZIOSO
												.panel-body
													img.rider-img(src="/img/motogp/rider/2015/rider_dovizioso.jpg")
										.rider-content.col-md-4.col-xs-12
											.panel.panel-default
												.panel-heading.text-center 第三名
												.panel-heading.text-center Andrea IANNONE
												.panel-body
													img.rider-img(src="/img/motogp/rider/2015/rider_iannone.jpg")
							
									
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
						#team.title
							h3 Team
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
						#rider.title
							h3 Racer
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
					.col-md-2#side-menubar-wrapper
						nav.hidden-xs.hidden-sm#side-menubar
							ul.nav
								li
									a(href="#championStanding") 年度积分排行榜
								li
									a(href="#calendar") 赛程
								li
									a(href="#team") 车队
								li
									a(href="#rider") 赛车手
								li
									a(href="#main-menubar") 回到顶端
