extends ../main

block inner-menubar
	include motogp_inner_menubar.jade

block mainwindow
	.container-fluid
		.row
			.col-md-12.col-xs-12
				.row(id="inner-menubar-placeholder")
				.row
					.col-md-12.col-xs-12
						h1.pagetitle.text-center 2015年赛程 
							small MotoGP 世界摩托车锦标赛
				.row
					.col-md-10
						#championStanding.title
							.row
								.col-md-12.col-xs-12
									h3.text-center 年度积分排行榜
							.row
								.col-md-12.col-xs-12
									table.table.table-striped.table-hover
										thead
											tr
												th #
												th 车手
												th 车辆
												th 国籍
												th 总分
												th 落后前一名

										tbody
											each rider,index in riderStanding
												tr
													td #{rider.position}
													td #{rider.name}
													td #{rider.bike}
													td #{rider.nation}
													td #{rider.points}
													td #{rider.short}

						#calendar.title
							.row
								.col-md-12.col-xs-12
									h3.text-center 赛程

							.row.calendar-wrapper
								.col-md-6.col-xs-12
									.row
										.col-md-3.col-xs-3
											4月29日
										.col-md-9.col-xs-9
											p Commercial Bank Grand Prix of Qatar
											p Losail International Circuit
									.row
										.col-md-12.col-xs-12
											img(src="/img/motogp/circuit/2015/QAT.jpg")
									
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
						#team.title
							h3 Team
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
						#rider.title
							h3 Racer
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
							p AAAAAAA
					.col-md-2#side-menubar-wrapper
						nav.hidden-xs.hidden-sm#side-menubar
							ul.nav
								li
									a(href="#main-menubar") Back to Top
								li
									a(href="#championStanding") 年度积分排行榜
								li
									a(href="#calendar") 赛程
								li
									a(href="#team") 车队
								li
									a(href="#rider") 赛车手
