extends ../main

block inner-menubar
	include motogp_inner_menubar.jade

block mainwindow
	.container-fluid
		.row
			.col-md-12.col-xs-12
				.row(id="inner-menubar-placeholder")
				.row
					.col-md-12.col-xs-12
						h1.pagetitle.text-center 2015年赛程 
							small MotoGP 世界摩托车锦标赛
				.row
					.col-md-10
						#championStanding.section-head
							.row
								.col-md-12.col-xs-12
									h3.title.text-center 年度积分排行榜
							.row
								.col-md-12.col-xs-12
									table.table.table-striped.table-hover
										thead
											tr
												th #
												th 车手
												th 车辆
												th 国籍
												th 总分
												th 落后

										tbody
											each rider,index in riderStanding
												tr
													td #{rider.position}
													td #{rider.name}
													td #{rider.bike}
													td #{rider.nation}
													td #{rider.points}
													td #{rider.short}

						#calendar.section-head
							.row
								.col-md-12.col-xs-12
									h3.title.text-center 赛程

							each race in calendar
								.calendar-wrapper.panel.panel-default
									.panel-heading.text-center #{race.date}
									.panel-heading.text-center #{race.place}
									.panel-heading.text-center #{race.racename}
									.panel-heading.text-center #{race.circuitname}

									.panel-body

										.row.circuit-section
											.col-md-6.col-xs-12
												img.circuit-img(src="/img/motogp/circuit/2015/#{race.circuitdetail}")
											.col-md-6.col-xs-12
												table.table.table-default
													tr 
														td 赛道长度
														td #{race.cir_length}
													tr 
														td 左弯
														td #{race.cir_lturns}
													tr 
														td 右弯
														td #{race.cir_rturns}
													tr 
														td 最长直道
														td #{race.cir_straight}
													tr 
														td 最快圈速
														td #{race.cir_record}
										if (race.p1_name!=='')
											.row.podium-section
												.rider-content.col-md-4.col-xs-12
													.panel.panel-default
														.panel-heading.text-center 第一名
														.panel-heading.text-center #{race.p1_name} 
														.panel-body 
															img.rider-img(src="/img/motogp/rider/2015/#{race.p1_photo}")
												.rider-content.col-md-4.col-xs-12
													.panel.panel-default
														.panel-heading.text-center 第二名
														.panel-heading.text-center #{race.p2_name}
														.panel-body
															img.rider-img(src="/img/motogp/rider/2015/#{race.p2_photo}")
												.rider-content.col-md-4.col-xs-12
													.panel.panel-default
														.panel-heading.text-center 第三名
														.panel-heading.text-center #{race.p3_name}
														.panel-body
															img.rider-img(src="/img/motogp/rider/2015/#{race.p3_photo}")
							
									
						#team.section-head
							.row
								.col-md-12.col-xs-12
									h3.title.text-center 车队 

							.row.team-wrapper
								each team in teams
									.col-md-12.col-xs-12
										.panel.panel-default
											.panel-heading.text-center #{team.name}
											.panel-body
												.row
													.col-md-4.col-xs-12
														.row
															.col-md-12.col-xs-12
																img.team-img(src="/img/motogp/team/2015/#{team.pic}")
													each rider in team.riders
														.col-md-4.col-xs-12
															.panel.panel-default
																.rider-img-panel.panel-heading
																	img.rider-img(src="/img/motogp/rider/2015/#{rider.pic}")
																.rider-name.panel-heading.text-center #{rider.name}
														

						#rider.section-head
							.row
								.col-md-12.col-xs-12
									h3.title.text-center 赛车手

							.row
								each rider in riders
									.rider-block.col-md-3.col-xs-6
										.panel.panel-default
											.rider-image.panel-body
												img(src="/img/motogp/rider/2015/#{rider.pic}")
											.rider-content.panel-body
												.row
													.col-md-6.col-xs-6
														img(src="/img/misc/national_flag/#{rider.national_flag}" title="#{rider.nation}")
													.rider-number.col-md-6.col-xs-6.text-right #{rider.number}
												.row
													.rider-name.col-md-12.col-xs-12.text-right #{rider.name}
												.row
													.rider-team.col-md-12.col-xs-12.text-right #{rider.team}

					.col-md-2#side-menubar-wrapper
						nav.hidden-xs.hidden-sm#side-menubar
							ul.nav
								li
									a(href="#championStanding") 年度积分排行榜
								li
									a(href="#calendar") 赛程
								li
									a(href="#team") 车队
								li
									a(href="#rider") 赛车手
								li
									a(href="#main-menubar") 回到顶端
